
<div class="photo">
  <fieldset>

  </fieldset>
</div>

<div>
<form action="/runners" method="POST">
<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
<input type="hidden" name="_method" value="patch">
	
  <p> First Name: <input type="text" name="first_name" value="<%=@runner.first_name%>"> </p>
  <p> Last Name: <input type="text" name="last_name" value="<%=@runner.last_name%>"> </p>
  <p> Shoe Size: <input type="string" name= "shoe_size" value="<%=@runner.shoe_size%>"> </p>
  <p> Gender: <input type="string" name="gender" value="<%=@runner.gender%>"> </p>
  <p> Email:<input type="text" name="email" value="<%=@runner.email%>"> </p>
  <input type="submit" value="Update">
</form><br>
<a href="/runners/<%=@runner.id%>">Go Back</a>
</div>
